{% load bootstrap5 %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    
    <body>